<section data-ng-controller="MasonryController" class="main-background">

    <div class="container">

    <!-- Sorting directive -->
        <div class="col-sm-4 form-group">
            <label for="masonryFilter">Sort by:</label>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-s" ng-model="masonryFilter" btn-radio="'Time left'">Time left</button>
                <button type="button" class="btn btn-default btn-s" ng-model="masonryFilter" btn-radio="'Distance'">Distance</button>
            </div>
        </div>
    <!-- Searching directive -->
        <div class="col-sm-4">
            <input class="form-control input" ng-model="searchText" placeholder="Search the free universe!">
        </div>
    <!-- Category Filter -->
        <div class="dropdown col-sm-2 col-sm-offset-1">
          <button class="dropdown-toggle btn btn-default">
            Select category
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="category in categories">
              <a>{{category}}</a>
            </li>
          </ul>
        </div>

        <br>
    <!-- Masonry brick unit -->
        <div class="hero-unit col-sm-12">
        <div class="row">
            <div class="span12">
                <div masonry>
                    <div class="masonry-brick loaded" ng-repeat="brick in bricks | filter:searchText" ng-mouseenter="hover(brick)" ng-mouseleave="hover(brick)">
                        <div ng-show="brick.showDeal" class="show-deal">
                            <button class="btn btn-deal" ng-click="deal(brick)">I want that</button>
                            <p class="dealInfo"><b>Distance:</b> {{brick.distance}}</p>
                            <p class="dealInfo"><b>Time left:</b> {{brick.time_left}}</p>
                        </div>
                        <img ng-src="{{ brick.src }}" alt="A masonry brick" class="brick-img" ng-class="{hovered: brick.showDeal}">
                        <h4>{{brick.text}}</h4>
                    </div>
                </div>
            </div>
        </div>
        </div>

</section>
