<section data-ng-controller="ItemsController" data-ng-init="findAll()">
    <section data-ng-controller="MasonryController" class="main-background" id="search">

        <div class="container">
        <!-- Sorting directive -->
            <div class="col-sm-4 form-group">
<!--                 <label for="masonryFilter">Sort by:</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-s" ng-model="masonryFilter" btn-radio="'Time left'">Time left</button>
                    <button type="button" class="btn btn-default btn-s" ng-model="masonryFilter" btn-radio="'Distance'">Distance</button> -->
<!--                 </div>
 -->            </div>
        <!-- Searching directive -->
            <div class="col-sm-4">
                <input class="form-control input" ng-model="searchText" placeholder="Search the free universe!">
            </div>
        <!-- Category Filter -->
            <div class="dropdown col-sm-4">
<!--               <button class="dropdown-toggle btn btn-default" popover="Select your search category" popover-trigger="mouseenter" popover-placement="bottom">
                Category
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="category in categories">
                  <a>{{category}}</a>
                </li>
              </ul> -->
            </div>
            </div>
            <br>

        <!-- New filtering block -->
        <div class="container">

            <div class="col-sm-3  col-sm-offset-3 btn-group">
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioDistanceModel" btn-radio="0.5" ng-click="findNear(0.5)">1/2 mile</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioDistanceModel" btn-radio="2"ng-click="findNear(2)">2 miles</button>
                 <button type="button" class="btn btn-deal btn-xs" ng-model="radioDistanceModel" btn-radio="5" ng-click="findNear(5)">5 miles</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioDistanceModel" btn-radio="10" ng-click="findNear(10)">10 miles</button>
            </div>

            <div class="col-sm-6 btn-group">
                <!-- Dont know why the ng-repeat is not binding to categorymodel here -->
                <!-- <button type="button" ng-repeat="category in categories" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'{{category}}'">{{category}}</button> -->
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Household'" ng-click="">Household</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Outdoor'" ng-click="">Outdoor</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Electronics'" ng-click="">Electronics</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Animals'" ng-click="">Animals</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Clothes'" ng-click="">Clothes</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Furniture'" ng-click="">Furniture</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="'Other'" ng-click="">Other</button>
                <button type="button" class="btn btn-deal btn-xs" ng-model="radioCategoryModel" btn-radio="" ng-click="">All</button>

            </div>


        </div>
        <!-- Masonry brick unit -->
            <div class="hero-unit col-sm-12">
            <div class="row">
                <div class="span12">
                    <div masonry ng-hide="details" >
                        <div class="masonry-brick loaded normal" ng-repeat="brick in items | filter: searchText | filter:radioCategoryModel " ng-mouseenter="hover(brick)" ng-mouseleave="hover(brick)">
                            <!-- Classic Search View -->
                            <div ng-show="brick.showDeal" class="show-deal">
                                <button class="btn btn-deal" ng-click="showDetails(brick)">GIMME DATAILS</button>
                                <p class="dealInfo"><i class="fa fa-map-marker"></i>  {{brick.address}}</p>
                                <p class="dealInfo"><i class="fa fa-clock-o"></i>  {{brick.startTime}}</p>
                                <p class="dealInfo"><i class="fa fa-smile-o"></i> {{brick.owned_by.username}}</p>
                            </div>
                            <img src="../img/puppy.jpg" alt="A masonry brick" class="brick-img" ng-class="{hovered: brick.showDeal}">
                            <h4>{{brick.title}}</h4>

                            <!-- DetailView -->
<!--                             <div ng-show="brick.showDetails">
                                <p>Hello</p>
                            </div> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div ng-show="details" class="col-md-6">
                <img src="../img/puppy.jpg" alt="A masonry brick" class="brick-img">
                <h4>{{brick.title}}</h4>
                <p class="dealInfo"><i class="fa fa-map-marker"></i>  {{brick.address}}</p>
                <p class="dealInfo"><i class="fa fa-clock-o"></i>  {{brick.startTime}}</p>
                <p class="dealInfo"><i class="fa fa-smile-o"></i> {{brick.owned_by.username}}</p>
                <button class="btn btn-deal" ng-click="showDetails(brick)">BACK TO LIST</button>
                <button class="btn btn-deal" ng-click="showDetails(brick)">SEND QUESTION</button>
                <button class="btn btn-deal" ng-click="confirm(brick)">GET IT!</button>
            </div>
            <div ng-show="confirmation" class="col-md-6">
            <h1>Do you really want this item and pay a 10$ Deposit?</h1>
            <button class="btn btn-default" ng-click="wantItem(brick)">Hell yeah</button>
            <button class="btn btn-default" ng-click="confirm(brick)">Ups. Not now really.</button>
            </div>

<!--                     <div masonry ng-show="details">
                        <div class="masonry-brick">
                            <button class="btn btn-deal" ng-click="showDetails(brick)">BACK TO LIST</button>
                            <img src="../img/puppy.jpg" alt="A masonry brick" class="brick-img">
                            <h4>{{brick.title}}</h4>
                        </div>
                        <div class="masonry-brick">
                            <p class="dealInfo"><i class="fa fa-map-marker"></i>  {{brick.address}}</p>
                            <p class="dealInfo"><i class="fa fa-clock-o"></i>  {{brick.startTime}}</p>
                            <p class="dealInfo"><i class="fa fa-smile-o"></i> {{brick.owned_by.username}}</p>
                        </div>
                    </div> -->
            </div>
    </section>
</section>
