.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

/*Isotope styling*/
.kindling {
    width: 250px;
    height: 300px;
    margin: 5px;
    float: left;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
    color: #222;
}

.main-background {
    background-color: #F6F3F3
}

.kindling.picture {
    width: 250px;
    height: 150px;
    background-color: #2E75A5;
}

.kindling.purple {
    width: 250px;
    height: 250px;
    background-color: #D14E4E;
}

.kindling.green {
    width: 250px;
    height: 200px;
    background-color: #48690B;
}
