.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

/*Flat theme*/

.container {
    width: 100%;
}

header {
    min-height:230px;
    margin-bottom:5px;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
      position: static;
  }

  #sidebar.affix {
      position: fixed;
      top: 0;
      width:21.2%;
  }
}

.affix,.affix-top {
   position:static;
}

/* theme */

body {
    color: #828282;
    background-color: #EEE;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

a,a:hover {
    color:#ff3333;
    text-decoration:none;
}

.highlight-bk {
    background-color:#ff3333;
    padding:1px;
    width:100%;
}

.highlight {
    color:#ff3333;
}

h3.highlight  {
    padding-top:13px;
    padding-bottom:14px;
    border-bottom:2px solid #ff3333;
}

.navbar {
    background-color:#ff3333;
    color:#ffffff;
    border:0;
    border-radius:0;
}
.navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
/*    border-left:1px solid #e8e8e8;
*/}
.navbar-nav > li:last-child > a {
/*    border-right:1px solid #e8e8e8;
*/}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    color: #555555;
    background-color:transparent;
    opacity:.9;
}

.nav .open > a {
    border-color:#777777;
    border-width:0;
}

.accordion-group {
    border-width:0;
}

.dropdown-menu {
    min-width: 250px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
    padding-left:1px;
}

.caret {
    color:#fff;
}

.navbar-toggle {
    color:#fff;
    border-width:0;
}

.navbar-toggle:hover {
    background-color:#fff;
}

.panel {
    padding-left:27px;
    padding-right:27px;
}

/*Masonry-styling*/

.masonry-brick {
    margin: 1em;
    display: block;
    float: left;
}

.masonry-brick.loaded {
    width: 250px;
    background-color: #FFF;
    margin: 0.5em;
    display: block;
    float: left;
    padding: 4px;
    position: relative;
}

.brick-img {
    width: 242px;
    height: auto;
    margin: 0px;
}

.show-deal {
    position: absolute;
}

.btn-deal {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-deal:hover,
.btn-deal:focus,
.btn-deal:active,
.btn-deal.active,
.open .dropdown-toggle.btn-deal {
  color: #fff;
  background-color: #ff3333;
  border-color: #fff;
}





/*LOGO Bootstrap modification*/
.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
