<div class="modal-header" data-ng-controller="ItemsController">
  <h3>Add your free item for the crowd!</h3>
</div>

<form name="itemForm">
<div class="modal-body">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" data-ng-model="item.title" id="title" placeholder="Describe your item in 120 letters" required>
  </div>

  <div class="form-group">
    <label for="picture">Please upload a picture:</label>
<!--     <form action="input_file.htm" method="post" enctype="multipart/form-data">
 -->    <input type="file" accept="image" name="picture" data-ng-model="item.picture" required>
  </div>
  <!-- Lets change this to a drag and drop field when we have time -->

  <div class="form-group">
    <label for="category">Category:</label>
    <br>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Household'">Household</button>
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Outdoor'">Outdoor</button>
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Electronics'">Electronics</button>
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Animals'">Animals</button>
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Clothes'">Clothes</button>
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Furniture'">Furniture</button>
      <button type="button" class="btn btn-primary" ng-model="item.category" btn-radio="'Other'">Other</button>
    </div>
  </div>

  <div class="form-group">
    <label for="duration">Offer duration:</label>
    <br>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="item.duration" btn-radio="'1 day'">1 day</button>
        <button type="button" class="btn btn-primary" ng-model="item.duration" btn-radio="'3 days'">3 days</button>
        <button type="button" class="btn btn-primary" ng-model="item.duration" btn-radio="'7 days'">7 days</button>
        <button type="button" class="btn btn-primary" ng-model="item.duration" btn-radio="'1 month'">1 month</button>
      </div>
  </div>

  <div class="form-group">
    <label for="conditionRating">Condition:</label>
    <br>
    <rating value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" data-ng-model="item.rate"></rating>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>
  </div>

  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" ng-model="item.address" placeholder="eg. 160 Pearl Street, New York City, New York 10005, USA" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
<!--
    <input type="text" class="form-control" data-ng-model="item.street" id="street" placeholder="Street Name" required>
    <br>
    <input type="number" class="form-control" data-ng-model="item.street_number" id="street_number" placeholder="House Number" required>
    <br>
    <input type="text" class="form-control" data-ng-model="item.city" id="city" placeholder="City" required>
    <br>
    <input type="text" class="form-control" data-ng-model="item.state" id="state" placeholder="State" required> -->
    <!-- Wanted solution is hooking this up with google maps -->
  </div>
</div>
</form>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="addItem()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

